.LoginCont {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: Copperplate;
 
}
.userdetails {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.userinput label,
.userinput input {
  display: block;
}
.userinput {
  padding: 10px;
}

.password {
  width: 50vw;
}
